html,
body {
    margin: 0;
    padding: 0;
}

section {
    margin-top: base(10);
    margin-bottom: base(10);
    @media screen and (max-width: map-get($breakpoints, md)) {
        margin-top: base(5);
        margin-bottom: base(5);
    }
}

img {
    width: 100%;
    height: auto;
    display: block;
}

address {
    font-style: normal;
}
