$color-background: #130013;
$color-background-light: #00000029;
$color-secondary: #fceafc;
$color-magenta: #e01de0;
$color-secondary-dark: #830a77;
$color-secondary-darker: #3d023f;
$color-primary-dark: #420cb1;
$color-primary: #712cff;

$colors: (
    'background': #130013,
    'background-light': #00000029,
    'secondary': #fceafc,
    'magenta': #e01de0,
    'secondary-dark': #830a77,
    'secondary-darker': #3d023f,
    'primary-dark': #420cb1,
    'primary': #712cff
);

:export {
    @each $key, $value in $colors {
        #{unquote($key)}: $value;
    }
}

$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$base-font-size: 16px;
$baseline-px: 20px;
