$color-background: #130013;
$color-background-light: #00000029;
$color-secondary: #FCEAFC;
$color-secondary-dark: #830A77;
$color-secondary-darker: #3D023F;
$color-primary-dark: #420CB1;
$color-primary: #712CFF;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
